[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
skip_lock = true

[packages]
"discord.py" = {editable = true, git = "https://github.com/Rapptz/discord.py"}
pandas = "*"
pillow = "*"
motor = "*"
pymongo = {extras = ["srv"], version = "*"}
aiohttp = "*"
matplotlib = "*"

[dev-packages]
dpytools = "*"
ipykernel = "*"
pdoc3 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
hermione = "python main.py"
